*.7z
*.a
*.bin
*.buffer
*.bzip
*.core
*.csv
dask-worker-space/
*.db
*.dll
*.doc
*.docm
*.docx
.DS_Store
*.egg-info/
*.env
*.exe
.idea/
.ipynb_checkpoints/
*.json
LightGBM/
.mypy_cache/
*.npy
*.o
*.parquet
*.pem
*.pkl
*.ppt
*.pptm
*.pptx
profiling-output/
*.pq
*.pyc
__pycache/
*.query
*.rsa
.ruff_cache/
*.so
*.sqlite
*.tar.gz
*.tgz
*.text
*.train
*.txt
Untitled*.ipynb
*.whl
*.xls
*.xlsm
*.xlsx
*.zip
