*.7z
*.a
*.bin
*.buffer
*.bzip
*.core
*.csv
dask-worker-space/
*.db
*.dll
*.doc
*.docm
*.docx
*.env
*.exe
.idea/
.ipynb_checkpoints/
*.json
LightGBM/
.mypy_cache/
*.npy
*.o
*.parquet
*.pem
*.pkl
*.ppt
*.pptm
*.pptx
*.pq
*.pyc
__pycache/
*.query
*.rsa
*.so
*.sqlite
*.tar.gz
*.tgz
*.text
*.train
*.txt
Untitled*.ipynb
*.xls
*.xlsm
*.xlsx
*.zip
