name: Continuous Integration

# always run CI on new commits to any branch
on: push

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
  build:
    name: build
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          # 'driver: docker' allows one build to reuse images from a prior build
          # ref: https://github.com/docker/setup-buildx-action/issues/251
          driver: docker
          install: true
          use: true
      - name: Build notebook image
        run: |
          make notebook-image
      - name: Build cluster image
        run: |
          make cluster-image
      - name: Build profiling image
        run: |
          make profiling-image
  all-tests-successful:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
